#mainbox {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-rows: 2em 6em 1fr;
  overflow-y: scroll;
  min-width: 0;
}

#user-input {
  grid-row-start: 2;
  margin-top: 3em;
}

form {
  display: flex;
  justify-content: center;
}

.input-group {
  width: 15em;
}

.form-control,
.input-group-text {
  background-color: rgb(212, 215, 126);
}

#card-container {
  grid-row-start: 3;
  width: 100%;
  padding: 3em;
}

#asteroid-cards {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  padding: 3em;
}

.card {
  background-color: goldenrod;
}

h5 {
  font-family: "Bonk Robbers";
  color: rgb(62, 62, 207);
  font-size: x-large;
  padding: 1em;
}

ul {
  list-style-type: none;
  font-size: large;
  font-family: "Bonk Robbers";
  line-height: 2em;
}

@media (max-width: 480px) {
  h5 {
    font-size: large;
  }
  ul {
    font-size: small;
  }
}

@media (max-width: 768px) {
  h5 {
    font-size: large;
  }
  ul {
    font-size: medium;
  }
}
